body {
    font-family: sans;
    margin: 0px;
    padding: 0px;
    background-color: #BBB;
}

header {
    width: 100%;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin: 0px;

    background-color: #999;
    text-align: center;
}

section {
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;

    background-color: #BBB;
    text-align: center;
}

footer {
    width: 100%;
    padding-top: 4vh;
    padding-bottom: 4vh;

    background-color: #999;
    text-align: center;
}

#jesus {
    background-image: url("jesus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    min-height: 50vh;
}

