body {
    font-family: sans;
    background-color: #8e696a;

    margin: 0px;
    padding: 0px;
}

footer {
    text-align: center;
}

@media only screen and (max-aspect-ratio: 4/3) {
    header, footer, #nobody_fucks {
        width: 100%;
        margin: 0px;
    }

    header {
        text-align: center;
        padding-bottom: 5vh;
    }
}

@media only screen and (min-aspect-ratio: 4/3) {
    #nobody_fucks {
        height: 100vh;
        float: left;
    }

    header {
        text-align: right;
        float: right;
        padding-right: 3vw;
        padding-top: 3vh;
    }

    footer {
        position: absolute;
        bottom: 3vh;
        right: 3vw;
    }
}

