body {
    font-family: sans;
    
    background-color: #8e696a;
    background-image: url("nobody_fucks.svg");
    background-size: contain;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

header {
    text-align: right;
    
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 3vw;
}

footer {
    text-align: right;

    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 3vw;

    position: fixed;
    bottom: 0px;
    right: 0px;
}

